/* ============ GLOBAL STYLES========= */
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================ /GLOBAL STYLES=================== */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  background-color: #fafafa;
}
.accent-color {
  color: #fd9222;
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111;
}
.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.section {
  padding-bottom: 50px;
  padding-top: 50px;
}
/* ===============HEADER===== */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
}
.logo {
  display: flex;
  align-items: center;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-icon {
  fill: #fcf1e0;
  stroke: #fd9222;
  margin-left: 4px;
}
.menu-list {
  display: flex;
  column-gap: 24px;
}
.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms linear;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
.social-list {
  display: flex;
  column-gap: 18px;
}
.social-list-link {
  display: block;
  line-height: 0;
  fill: none;
  stroke: #111;
  transition: stroke 250ms linear;
}
.social-list-link:hover,
.social-list-link:focus {
  stroke: #fd9222;
}
/* =============== HERO ============ */
.hero {
  width: 1136px;
  padding: 381px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url("../images/hero/bg.jpg");
  background-size: cover;
}
.main-title {
  width: 470px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  color: #fff;
}
.hero-bottom-block {
  width: 1056px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-buttons {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.buy-now-btn {
  font-size: 14px;
  font-weight: 600;
  background-color: #fd9222;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
}
.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.how-made-link {
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  padding: 14px 40px;
  color: #fff;
  border: 1px solid #fff;
}
.how-made-link:hover,
.how-made-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.scroll-down {
  display: flex;
  align-items: center;
  column-gap: 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
.arrow-down-icon {
  fill: #fd9222;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 8px;
}
.scroll-down:hover .arrow-down-icon,
.scroll-down:focus .arrow-down-icon {
  background-color: #fd9222;
  fill: #fff;
}
.scroll-down:hover,
.scroll-down:focus {
  color: #fd9222;
}
/* =====benefits style ===== */
.benefits {
  background-color: #1e1823;
  margin-top: 72px;
  margin-bottom: 50px;
}
.benefits-list {
  display: flex;
  column-gap: 70px;
}
.benefits-list-item {
}
.benefits-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.benefits-list-icon {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 15px;
  fill: #fd9222;
  margin-bottom: 22px;
}
/* ======ingredients========= */
.ingredients-title {
  width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.ingredients-desc {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111111;
  width: 486px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 19px;
}
.ingredients-list-item {
  width: calc((100%-57px) / 4);
  padding: 32px 28px;
  border-radius: 15px;
  border: 1px solid #fd9222;
  position: relative;
  overflow: hidden;
}
.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.ingredients-list-item:nth-child(even) {
  background-color: #fff;
}
.ingredients-list-item:nth-child(4n-1) {
  background-color: #1e1823;
  color: #fff;
  border-color: #1e1823;
}
.ingredients-list-item:hover .overlay {
  transform: translateY(0);
}
.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  color: #111;
}
.overlay-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.overlay-container {
  margin-bottom: 14px;
  font-size: 10px;
  display: flex;
  column-gap: 6px;
}
.overlay-benefits {
  background-color: #fd9222;
  color: #fff;
  padding: 6px 16px;
  border-radius: 35px;
}
.overlay-span {
  border: 1px solid #fd9222;
  padding: 6px 16px;
  border-radius: 35px;
}
.overlay-text {
  font-size: 14px;
  letter-spacing: -0.02em;
}
.ingredients-list-item:hover .overlay {
  transform: translateX(0);
}
/* ===========how-made========= */
.how-made-title{
  margin-bottom: 50px;
}
.how-made-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.how-made-img{
  width: 600px;
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
}
.how-made-rigth{
  width: 452px;
}
.how-made-rigth-title{
  width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0;
  margin-bottom: 28px;
}
.how-made-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  list-style: disc;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.how-made-list-item{
  width: 425px;
}

/* ============ reviews=================== */
.reviews-list {
  display: flex;
  column-gap: 32px;
}
.reviews-list-item {
  width: calc((100%-56px) / 3);
}
